<h1>Issues for {{user.preferedRep.name}}</h1>
<div id="issuepage">
<div id="issueview">
    <a href="" data-action="addissue">add issue</a>
{{#each issues}}
<div class="issue" data-id="{{id}}">
    <div id="info">
        <h2>{{title}}</h2>
        <div id="timestamps">
            <p>updated at {{updatedAt}}</p>
            <p>created at {{createdAt}}</p>
        </div>
        <p>{{body}}</p>
        <a href="" data-action="viewcomments">{{comments}} comments</a>
    </div>
    <div id="user">
        <a href="" data-action="closeissue">close</a>
        <a href="" data-action="editissue">edit</a>
        <p>by {{user.username}}</p><img src="{{user.avatar}}" />
    </div>
</div>
{{/each}}
</div>
<div id="happenings">
    <template id="eventTemplate">
        <div class="event">
        </div>
    </template>
</div>
<div id="forms" class="hide">
    <form></form>
</div>
</div>
<script src="/javascript/bundle.js"></script>