<div id="happenings">
    <template id="eventTemplate">
        <div class="event">
        </div>
    </template>
</div>
<h1>Issues for {{user.preferedRep.name}}</h1>
<div id="issuepage">
    <div id="issueview">
        <a href="" data-action="addissue">add issue</a>
        {{#each issues}}
        <div class="issue" data-id="{{id}}">
            <div id="info">
                <h2>{{title}}</h2>
                <div id="timestamps">
                <p>updated at {{updatedAt}}</p>
                <p>created at {{createdAt}}</p>
            </div>
            <p>{{body}}</p>
            <a href="" data-action="viewcomments">{{comments}} comments</a>
            </div>
        <div id="user">
            <p>by {{user.username}}</p><img src="{{user.avatar}}" />
        </div>
        <div id="buttons">
            <a href="" data-action="lockissue">lock conversation</a>
            <a href="" data-action="editissue">edit</a>
        </div>
        </div>
        {{/each}}
</div>
    <div id="forms" class="hide">
    </div>
    <div id="commentview" class="hide">
    </div>
</div>
<script src="/javascript/bundle.js"></script>